body{
    background-color: wheat;
}

.logo{
    margin-top: 20px;
    color: rgb(121, 0, 121);
    margin-left: 100px;
}


ul{
    margin-left: 45%;
}
  
.menu li{
	display: inline-block;
	margin-top: 2%;
    
    padding: 20px;
	font-size: 	20px;
}

  .menu li a{
    color: rgb(121, 0, 121);
     text-decoration: blue;
     
     }

h2{
    margin-left: 15%;
    margin-top: 20%;
    color: rgb(121, 0, 121);
}

p{
    margin-left: 15%;
    color: rgb(70, 3, 70);
    font-size: 15px;
}

.boton{
    margin-left: 15%;
    margin-top: 15%;
}

img{
    margin-top: 15%;
    width: 80%;
    height: 60%;
}

